/* My website's main stylesheet. */
:root {
  --color-1: #808080;
}
:root {
  --color-2: #695b24;
}
:root {
  --color-3: #5b7f95;
}
:root {
  --color-4: #eeead9;
}
:root {
  --color-5: #695b2431;
}
:root {
  --color-6: #396827;
}

* {
  margin: 0;
  padding: 0;
}

/* Navigation menu */

#nav_menu {
  position: static;
  width: auto;
  height: 0.5em;
  margin: 0 0 2em 0;
}

#nav_menu ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: var(--color-1);
}

#nav_menu ul li a {
  text-align: center;
  display: inline-block;
  padding: 1em !important;
  text-decoration: none;
  background-color: var(--color-1);
  color: #ffffff;
  font-weight: bold;
}
#nav_menu ul li a:hover {
  background-color: var(--color-2);
}

/* NAV END */

/* Body */
h1 {
  text-align: center;
  color: var(--color-3);
  padding: 0.25em;
  clear: left;
  font-size: 5em;
}
body {
  background-color: var(--color-4);
  margin-left: 10%;
  margin-right: 10%;
}
h2,
h3 {
  text-align: center;
  font-size: 1.3em;
  color: var(--color-2);
  clear: both;
  padding-top: 1em;
}
/* Remove underline from links; set hyperlink colors */
a[href] {
  text-decoration: none;
}
a:link {
  color: var(--color-1);
}
a:visited {
  color: #113c00;
}
a:hover,
a:focus {
  color: #980202;
}
/* BODY END */

/* Footer */

footer {
  clear: both;
  margin-left: -10%;
  padding-top: 3em;
  font-size: smaller;
  color: var(--color-1);
}

/* FOOTER END */

/* Media Queries */

@media (max-width: 597px) {
  /* Fix tile icons at and below this size */
}

@media (max-width: 640px) {
  h1 {
    font-size: 2.5rem;
  }

  #nav_menu {
    margin: 0 0 12em 0;
  }
  #nav_menu ul {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 641px) and (max-width: 834px) {
  #nav_menu {
    margin: 0 0 3.5em 0;
  }
}
