/* Body */
img {
  float: left;
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: 1.3em;
  border: 1px solid #000000;
}

h2,
h3 {
  clear: both;
  padding-top: 1em;
}

h4 {
  color: var(--color-2);
}

aside {
  border: #000000;
  border-style: solid;
  display: inline-block;
  width: auto;
  vertical-align: top;
}

aside h4 {
  margin-left: 0.5em;
}

aside ul {
  margin-left: 1.25em;
  margin-right: 0.25em;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

body p small {
  font-size: smaller;
  color: var(--color-1);
}

body main p#inventory_list_name {
  color: var(--color-2);
  font-weight: bold;
  font-size: 1.1em;
}
/* BODY END */

/* Media Queries */
@media (max-width: 286px) {
  img {
    float:none;
    min-width: 85%;
  }
}
@media (min-width: 287px) and (max-width: 640px) {
  img {
    min-width: 105px;
  }
}
