.container {
  display: grid;
  grid-template-columns: 1.5fr 2fr 2fr 1.5fr;
  grid-template-rows: 4em auto auto auto;
  grid-template-areas:
    "nav_bar nav_bar nav_bar nav_bar"
    "head head head head"
    "l main main r"
    "l sptest serv_stat r";
  width: 100%;
}

.nav_menu {
  grid-area: nav_bar;
}

.header {
  grid-area: head;
}

body {
  margin-left: 0;
  margin-right: 0;
}

/* Tiles */
main {
  margin-left: 0% !important;
  margin-right: 0% !important;
  grid-area: main;
  background: var(--color-5);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    "head_s head_s head_s head_s head_s head_s head_s"
    "tile_s tile_s tile_s tile_s tile_s tile_s tile_s"
    "head_b head_b head_b head_b head_b head_b head_b"
    "tile_b tile_b tile_b tile_b tile_b tile_b tile_b";
}

#tiles_s {
  grid-area: head_s;
}

.tile_s {
  grid-area: tile_s;
}

#tiles_b {
  grid-area: head_b;
}

.tile_b {
  grid-area: tile_b;
}

.tile img {
  max-width: 12%;
  min-width: 65px;
  border-radius: 30%;
  padding: 0.1em;
  background-color: #ffffff;
}
.tile img:hover {
  opacity: 0.4;
}
/* TILES END */

/* Speed Test - partially, not my code */
#speedTestFigure {
  grid-area: sptest;
  padding: 0 1em 1em 1em;
}
#speedTestFigure h3 {
  text-align: center;
  padding-bottom: 0.5em;
}
#toggleSpeedTest {
  cursor: pointer;
  text-align: center;
  background-color: var(--color-2);
  color: #ffffff;
  padding: 0.5em;
  border-radius: 5px;
  margin: 0.313em auto;
  width: fit-content;
}
#speedTestContainer {
  position: relative;
}
#speedtest_frame {
  height: 32em;
  min-width: 100%;
  border-radius: 20%;
}
/* SPEED TEST END */

/* Service Status */
/* CONSIDER TURNING INTO GRID */
.service_status {
  grid-area: serv_stat;
  display: flex;
  flex-direction: column;
}

.url_stat {
  border: none;
  font-size: smaller;
}
.h3_not {
  text-align: center;
}
table {
  border: 1px solid #000000;
  border-collapse: collapse;
}
th {
  color: var(--color-2);
  -webkit-text-stroke: .006em #000000;
}
th, td {
  text-align: center;
  border: 1px solid #000000;
  padding: .313em;
  height: 1em;
}  
td {
  padding: .313em 0 .313em 0;
  height: 2.25em;
}
.ping-button {
  cursor: pointer;
  padding: 0.625em;
  border: 0.00625em solid #000000;
  background: #cccccc;
  border-radius: 0.313em;
  max-width: 7em;
}
.ping-button:hover {
  background-color: var(--color-2);
}

#outputDiv{
  font-size: smaller;
}
/* SERVICE STATUS END */

/* Footer */
footer {
  margin-top: 40em;
}
/* FOOTER END */

/* Media Queries */
@media (max-width: 700px) {
  .container {
    grid-template-columns: 4fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "nav_bar"
      "head"
      "comment"
      "main"
      "sptest"
      "serv_stat";
  }
}