/* Style sheet for index.html */
.container {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 4em auto auto auto auto;
  grid-template-areas:
    "nav_bar nav_bar nav_bar"
    "head head head"
    "l main r"
    "l serv_stat r"
    "l sptest r";
  width: 100%;
}
.nav_menu {
  grid-area: nav_bar;
}
.header {
  grid-area: head;
}
main {
  margin-left: 0;
  margin-right: 0;
}
h2,
h3 {
  margin-top: 0.5em;
}
/* Tiles */
.main {
  grid-area: main;
}
.tile_s,
.tile_b {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0;
  align-items: center;
  justify-items: center;
  background: var(--color-5);
  padding: 1em;
}
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.313em;
}
.tile img {
  max-width: 100%;
  min-width: 65px;
  border-radius: 30%;
  padding: 0.1em;
  background-color: #ffffff;
}
.tile img:hover {
  opacity: 0.4;
}
/* TILES END */
/* Speed Test - partially, not my code; reference in index.html */
#speedTestFigure {
  grid-area: sptest;
  margin-top: 0.5em;
  padding: 0 1em 1em 1em;
}
#toggleSpeedTest:hover {
  background-color: var(--color-2);
  transform: scale(1.1);
}
#toggleSpeedTest {
  cursor: pointer;
  text-align: center;
  background-color: var(--color-2);
  color: #ffffff;
  padding: 0.5em;
  border-radius: 5px;
  margin: 0.313em auto;
  width: fit-content;
}
#speedtest_frame {
  height: 40em;
  min-width: 100%;
  border-radius: 20%;
}
/* SPEED TEST END */
/* Service Status */
.service_status {
  grid-area: serv_stat;
  display: flex;
  flex-direction: column;
}
.h3_not {
  text-align: center;
}
table {
  border: 1px solid #000000;
  border-collapse: collapse;
  margin: 0 10% 0 10%;
}
thead {
  background: linear-gradient(to bottom right, #6b8e23, var(--color-2));
}
th {
  color: #eeead9;
}
th,
td {
  text-align: center;
  border: 1px solid #000000;
  padding: 0.313em;
  height: 1em;
}
td {
  padding: 0.313em 0 0.313em 0;
  height: 2.25em;
}
.url_stat {
  border: none;
  font-size: smaller;
  text-align: left;
  padding-left: 1em;
}
.ping-button {
  cursor: pointer;
  padding: 0.625em;
  border: 0.00625em solid #000000;
  background: #cccccc;
  border-radius: 0.313em;
  max-width: 7em;
}
.ping-button:hover {
  background-color: var(--color-2);
}
#outputDiv {
  font-size: smaller;
}
/* SERVICE STATUS END */
/* Footer */
footer {
  margin-top: 40em;
}
/* FOOTER END */
/* Media Queries */
@media (max-width: 225px) {
  footer {
    height: 5.2em;
  }
}
@media (min-width: 226px) and (max-width: 251px) {
  footer {
    height: 4.5em;
  }
}
@media (max-width: 391px) {
  .tile_s,
  .tile_b {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 451px) {
  table {
    margin: 0% !important;
  }
}
@media (max-width: 703px) {
  .container {
    grid-template-columns: 4fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "nav_bar"
      "head"
      "comment"
      "main"
      "serv_stat"
      "sptest";
  }
}
@media (min-width: 704px) and (max-width: 1580px) {
  table {
    margin: 0% !important;
  }
}
@media (min-width: 704px) and (max-width: 987px) {
  .container {
    grid-template-columns: 10% auto 10%;
  }
}