/* My website's main stylesheet. */
:root {
  --color-1: #808080;
}
:root {
  --color-2: #695b24;
}
:root {
  --color-3: #5b7f95;
}
:root {
  --color-4: #eeead9;
}
:root {
  --color-5: #695b2431;
}
:root {
  --color-6: #396827;
}
* {
  margin: 0%;
  padding: 0%;
}
main {
  margin-left: 10%;
  margin-right: 10%;
}
/* Navigation menu */
.nav_menu {
  position: static;
  width: auto;
  height: 4em;
}
.nav_menu ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: var(--color-1);
}
.nav_menu ul li a {
  text-align: center;
  display: flex;
  padding: 1em !important;
  text-decoration: none;
  background-color: var(--color-1);
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
}
.nav_menu ul li a:hover {
  background-color: var(--color-2);
  transform: scale(1.1);
}
/* NAV END */
/* Body */
h1 {
  text-align: center;
  color: var(--color-3);
  margin-top: 0;
  padding: 0;
  clear: left;
  font-size: 4em;
}
body {
  background: linear-gradient(to bottom right, #eeead9, var(--color-1));
  background-size: cover;
}
h2 {
  text-align: center;
  font-size: 2.5em;
  color: var(--color-2);
}
h3 {
  font-size: 2em;
  color: var(--color-2);
}
a[href] {
  text-decoration: none;
}
.link {
  color: var(--color-2);
  font-weight: bold;
}
.link:visited {
  color: #113c00;
}
.link:hover {
  color: #980202;
  transform: scale(1.1);
}
/* BODY END */
/* Footer */
footer {
  margin-top: 2rem;
  padding: 0.5em 0 0 0;
  background-color: var(--color-1);
  min-height: 3em;
  text-align: center;
  color: #070707;
}
.return_links:visited {
  color: #113c00;
}
.return_links:hover {
  color: #980202;
}
.return_links {
  color: #695b24;
  font-weight: bold;
  text-decoration: none;
}
.copyright_p {
  padding: 0.5em 0 0 0;
  font-size: smaller;
}
/* FOOTER END */
/* Media Queries */
@media (max-width: 225px) {
  footer {
    height: 6.5em;
  }
}
@media (min-width: 226px) and (max-width: 251px) {
  footer {
    height: 5.2em;
  }
}
@media (max-width: 305px) {
  .nav_menu ul li a {
    font-size: 0.9em;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 1em;
  }
}
@media (min-width: 306px) and (max-width: 480px) {
  .nav_menu ul li a {
    font-size: 0.9em;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.5em;
  }
}
@media (min-width: 481px) and (max-width: 986px) {
  .nav_menu ul li a {
    padding: 0.75em;
    font-size: 1em;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.5em;
  }
}
@media (max-width: 703px) {
  .nav_menu {
    position: static;
    width: auto;
    height: 13em;
  }
  .nav_menu ul {
    flex-direction: column;
  }
  .nav_menu ul li a {
    text-align: left;
  }
  .nav_menu ul li a:hover {
    transform: none;
  }
}
@media (min-width: 252px) and (max-width: 491px) {
  footer {
    height: 4.5em;
  }
}
@media (min-width: 987px) and (max-width: 1024px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.7em;
  }
  .nav_menu ul li a {
    padding: 1em;
    font-size: 1.1em;
  }
}