/* My website's main stylesheet. */
:root {
  --color-1: #808080;
}
:root {
  --color-2: #695b24;
}
* {
  margin: 0;
  padding: 0;
}
/* Navigation menu */
#nav_menu {
  width: 55%;
  margin: 0 auto;
}

#nav_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav_menu ul li {
  float: left;
  display: inline-block;
}

#nav_menu ul li a {
  text-align: center;
  display: block;
  width: 175px;
  padding: 1em;
  margin: 0 auto 0 auto;
  text-decoration: none;
  background-color: var(--color-1);
  color: #ffffff;
  font-weight: bold;
  border-right: 2px solid #ffffff;
}
#nav_menu ul li a:hover {
  background-color: var(--color-2);
}

#nav_menu ul li a.lastitem {
  border-right: none;
}
/* Body */
h1 {
  text-align: center;
  color: #5b7f95;
  margin: 0;
  padding: 1em;
  clear: left;
}
body {
  background-color: #eeead9;
  margin-left: 10%;
  margin-right: 10%;
}
h2,
h3 {
  text-align: center;
  font-size: 1.3em;
  color: var(--color-2);
  clear: both;
  padding-top: 1em;
}
/* Remove underline from links; set hyperlink colors */
a[href] {
  text-decoration: none;
}
a:link {
  color: var(--color-1);
}
a:visited {
  color: #113c00;
}
a:hover,
a:focus {
  color: #980202;
}
/* Footer */
footer {
  clear: both;
  margin-left: -10%;
  padding-top: 3em;
  font-size: smaller;
  color: var(--color-1);
}
