/* Style sheet for shanties.html */
/* Body */
h3 {
  text-align: center;
  margin-top: 0.5em;
}
p {
  text-align: center;
  margin: 0 20% 0 20%;
  padding-top: 0.66em;
}
.song {
  font-style: italic;
  padding-top: 0.313em;
  min-width: 460px;
}
.song_cite {
  display: block;
  text-align: center;
}
/* BODY END */
/* Media Queries */
@media (max-width: 300px) {
  .song {
    min-width: 200px;
    margin: 0;
  }
}
@media (min-width: 300px) and (max-width: 703px) {
  .song {
    width: 58%;
    margin: 0 auto;
    min-width: 250px;
  }
}
