/* My website's main stylesheet. */
:root {
  --color-1: #808080;
}
:root {
  --color-2: #695b24;
}
:root {
  --color-3: #5b7f95;
}
:root {
  --color-4: #eeead9;
}
:root {
  --color-5: #695b2431;
}
:root {
  --color-6: #396827;
}

* {
  margin: 0%;
  padding: 0%;
}

/* Navigation menu */
.nav_menu {
  position: static;
  width: auto;
  height: 0.5em;
  margin: 0 0 2em 0;
  padding-bottom: 1em;
}

.nav_menu ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: var(--color-1);
}

.nav_menu ul li a {
  text-align: center;
  display: inline-block;
  padding: 1em !important;
  text-decoration: none;
  background-color: var(--color-1);
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
}
.nav_menu ul li a:hover {
  background-color: var(--color-2);
}
/* NAV END */

/* Body */
h1 {
  text-align: center;
  color: var(--color-3);
  margin-top: 0.3em;
  padding: 0.25em;
  clear: left;
  font-size: 4em;
}
body {
  background-color: var(--color-4);
}
h2 {
  text-align: center;
  font-size: 2.5em;
  color: var(--color-2);
}
h3 {
  font-size: 2em;
  color: var(--color-2);
}
a[href] {
  text-decoration: none;
}
a:link {
  color: var(--color-1);
}
a:visited {
  color: #113c00;
}
a:hover,
a:focus {
  color: #980202;
}
body {
  background: linear-gradient(to bottom right, #eeead9, var(--color-1));
  background-size: cover;
}
/* BODY END */

/* Footer */
footer {
  clear: both;
  padding-top: 3em;
  font-size: smaller;
  color: #34345d;
}
/* FOOTER END */

/* Media Queries */
@media (max-width: 286px) {
  h1 {
    font-size: 1.75rem;
    margin-top: 9rem !important;
  }
  h2 {
    font-size: 1em !important;
  }
  h3 {
    font-size: 1em !important;
  }
}

@media (max-width: 480px) {
  h1 {
    margin-top: 9rem !important;
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5em !important;
  }
  h3 {
    font-size: 1.5em !important;
  }
  .nav_menu ul li a {
    padding: 0.5em;
    font-size: 0.9em;
  }
}

@media (max-width: 597px) {
  h1 {
    margin-top: 4em;
  }
  /* ***Something about this next declaration breaks the nav bar links on 
my index.html page when the media query threshold is met. Need to ask
Lindsey for help troubleshooting.*** */
  .nav_menu ul {
    flex-direction: column;
  }
  .nav_menu ul li a {
    text-align: left;
  }
}

@media (min-width: 481px) and (max-width: 986px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.5em;
  }
  .nav_menu ul li a {
    padding: 0.75em;
    font-size: 1em;
  }
}

@media (min-width: 987px) and (max-width: 1024px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.7em;
  }
  .nav_menu ul li a {
    padding: 1em;
    font-size: 1.1em;
  }
}
